.root {
  -fx-background-color: transparent;
}

.welcome {
  -fx-font-size: 65pt;
  -fx-text-fill: rgb(255, 255, 255);
}

.name {
  -fx-font-size: 40pt;
  -fx-text-fill: salmon;
}


.message {
  -fx-font-size: 40pt;
  -fx-text-fill: rgb(255, 255, 255);
}
